body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  overflow:hidden;
}

.cracker-page{
  height:100vh;
  background:#050505;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

.circle{
  position:absolute;
  border-radius:50%;
}

.purple{
  width:350px;
  height:350px;
  background:linear-gradient(#8a2be2,#d580ff);
  top:80px;
  left:250px;
}

.orange{
  width:300px;
  height:300px;
  background:linear-gradient(#ff6a00,#ffae42);
  bottom:60px;
  right:280px;
}

.cracker-card{
  width:420px;
  padding:40px;
  border-radius:30px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(15px);
  border:1px solid rgba(255,255,255,0.2);
  color:white;
  z-index:10;
  box-shadow:0 0 40px rgba(255,255,255,0.1);
}

.cracker-card h1{
  font-size:42px;
  margin-bottom:10px;
}

.cracker-card p{
  color:#ddd;
  margin-bottom:25px;
}

.cracker-card input{
  width:100%;
  padding:16px;
  margin-bottom:20px;
  border-radius:12px;
  border:1px solid rgba(255,255,255,0.3);
  background:transparent;
  color:white;
  font-size:16px;
  box-sizing:border-box;
}

.cracker-card button{
  width:100%;
  padding:16px;
  border:none;
  border-radius:12px;
  background:linear-gradient(to right,#ff6a00,#d946ef);
  color:white;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
}

.login-text{
  text-align:center;
  margin-top:20px;
}

.login-text span{
  color:#ff9f43;
  cursor:pointer;
  font-weight:bold;
}